html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #1e90ff, #028866);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* très important */
}

.title1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px black;
    font-size: 40px;
}

.box1 {
    border-radius: 30px;
    margin: auto;
    margin-bottom: 3%;
    padding: 3%;
    height: 90%;
    width: 85%;
    background-color: rgba(0, 255, 255, 0.151);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgb(20, 200, 255);
    border: solid 3px rgb(31, 192, 255);
}

.info {
    background-color: transparent;
    text-align: center;
    color: black;
    font-weight: bold;
}

.pp {
    height: 300px;
    width: 300px;
    background-image: url(myphoto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40%;
    margin: auto;
    border: solid 2px black;
    box-shadow: 0px 0px 5px black;
}

.name {
    margin-bottom: 0%;
}

.yold {
    margin-bottom: 0%;
}

.lang {
    margin-bottom: 0%;
}

.work {
    margin-bottom: 0%;
}

